<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1611821.doctor_appointment_booking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity2"
            android:label="CREATE ACCOUNT"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="HOME" />
        <activity
            android:name=".ProfileActivity"
            android:label="MY PROFILE"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".CalendarActivity"
            android:label="CALENDAR"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PrescriptionActivity"
            android:label="REQUEST PRESCRIPTION"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ChatActivity"
            android:label="CHAT FORUM"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".ContactActivity"></activity>
    </application>

</manifest>